@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@600&display=swap');

@import "variables";
@import "header";
@import "container";
@import "entery";
@import "footer";

html {
   font-size: 10px;
}

body {
   background: linear-gradient(to right, rgba(255, 126, 95, 1), rgba(254, 181, 103, 1));
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.content {

   .todo {
      position: absolute;
      top: 9%;
      left: 50%;
      background-image: url("../icons/todo.svg");
      background-repeat: no-repeat;
      max-width: 40rem;
      width: 100%;
      height: 51.2rem;
      z-index: -1;
   }
}

@media (max-width:800px) {
   .content {

      .todo {
         display: none;
      }
   }
}

.wrapper {
   max-width: 54rem;
   width: 100%;
   margin: 10rem auto 0 auto;
   background-color: $bgColorContainer;
   align-items: center;
   justify-content: center;
   font-size: 2rem;

}