.container {
   max-width: 54rem;
   margin: 3rem;

   &__item {
      @include fonts($itemFonts, $fontsColor);
      border: 1px solid $itemColor;
      border-radius: 1rem;
      max-width: 48rem;
      height: 5rem;
      background-color: $itemColor;
      display: flex;
      align-items: center;
      margin-bottom: 2.5rem;
      position: relative;

      input {
         display: none;
      }

      .checkbox {
         position: relative;
         display: inline-block;
         top: 0;
         cursor: pointer;

         &::before {
            content: "";
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            border: 0.2rem solid $checkBoxColor;
            border-radius: 1rem;
            margin: 1.3rem 2rem;
            vertical-align: middle;
         }

         &::after {
            content: "\2713";
            text-align: center;
            color: $bgColorContainer;
            padding: 1px 0;
            background-color: $checkBoxColor;
            position: absolute;
            top: 1.3rem;
            left: 2rem;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 1rem;
            border: 0.1rem solid $checkBoxColor;
            opacity: 0;
            transition: 0.2s;
         }
      }

      input:checked+.checkbox::after {
         opacity: 1;
      }

      .close {
         cursor: pointer;
         position: absolute;
         right: 2rem;
         top: 1.3rem;
         background-image: url("../icons/close.svg");
         width: 2.6rem;
         height: 2.6rem;
      }

      .close:hover {
         background-image: url("../icons/closeHover.svg");

      }
   }

   &__item:last-child {
      margin-bottom: 0;
   }
}